anthropic==0.66.0
black==25.1.0
boto3==1.40.31
Django==5.2.1
django-cors-headers==4.7.0
django-encrypted-model-fields==0.6.5
django-environ==0.12.0
django-extensions==4.1
djangorestframework==3.16.0
djangorestframework-camel-case==1.4.2
google-generativeai==0.8.5
langchain==0.3.25
langchain-anthropic==0.3.19
langchain-google-genai==2.0.10
langchain-openai==0.3.21
langgraph==0.6.6
model-bakery==1.20.4
openai==1.103.0
openai-responses==0.12.0
openpyxl==3.1.5
pandas
pgvector==0.4.1
psycopg2-binary==2.9.10
pydantic==2.11.5
pyodbc==5.0.1
pytest==8.3.5
pytest-django==4.11.1
pytest-mock==3.14.1
python-box==7.3.2
python-dotenv==1.0.0
oracledb
